<li>
  <a href="<%= book_book_page_path(book, page) %>" class="btn btn-info">
    <%= page.name %>
  </a>
  <ol>
    <% page.layers.each do |layer| %>
      <%= render partial: "layer", object: layer, locals: {book: book} %>
    <% end %>
  </ol>
</li>
