<h1>List of all Books</h1>

<table>
	<thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <a href="<%= book_path(book) %>">
            <%= book.name %>
          </a>
        </td>
        <td><%= book.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>